.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.search{
    height: 40px;
     width: 40px;
}

.search_bar{
    height: 20px;
    width: 40px;
}

